resource "aiven_service_integration_endpoint" "{{ environment.prefix | replace("-", "_")}}_integration_endpoint_{{ integration_endpoint_type }}" {
  project                  = "{{ environment.project }}"
  endpoint_name            = "{{ environment.prefix }}-endpoint-{{ integration_endpoint_type | replace("_", "-") }}"
  endpoint_type            = "{{ integration_endpoint_type }}"
  {{ integration_endpoint_type }}_user_config {
    basic_auth_username = "{{ generate_random_string() }}"
    basic_auth_password = "{{ generate_random_string() }}"
  }
}
